**/bin/
**/obj/
**/node_modules/
**/dist/
src/Server/wwwroot/*
!src/Server/wwwroot/.gitkeep

data/
publish/
artifacts/
**/*.db
**/*.db-shm
**/*.db-wal

.git/
.github/
.vs/
.idea/
.vscode/
**/.DS_Store

deploy/.env
